@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}

/* Remove problematic rules */
.bg-\[url\(\)\] {
  display: none;
}

.bg-\[url\(\`\`\)\] {
  display: none;
}




